body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

h1 {
    font-family: monospace;
    color: white;
    text-align: center;
}

dt, dd {
    color: white;
    margin-bottom: 20px;
}

footer {
    color: white;
}