body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
}

dt, dd {
    color: white;
}

h1 {
    font-family: monospace;
    color: white;
    text-align: center;
}

dt, dd {
    color: white;
    margin-bottom: 20px;
}

footer {
    color: white;
<<<<<<< HEAD
    text-align: center;
}

h3 {
    color: white;
}

th, td {
    color: white;
}

#Closed {
    text-align: center;
}

footer {
    margin-top: 40px;
    color: white;
}

nav div {
    display: inline;
}

table {
    border:1px solid white;
=======
>>>>>>> b8ecb51041aca590c5cae69a95e0bee706a4a1da
}