body {
   /* background-image: url("images/background.jpg");*/
    background-size: cover;
    background-repeat: repeat;
}

a:link {
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    color: rgba(128, 128, 128, 0.575);
}

dt, dd {
    color: black;
}

h1 {
    font-family: monospace;
    color: black;
    text-align: center;
}

dt, dd {
    color: black;
    margin-bottom: 20px;
}

footer {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}

th, td {
    color: white;
}

#Closed {
    text-align: center;
}

footer {
    margin-top: 40px;
    color: black;
}

nav div {
    display: inline;
}

table {
    border:1px solid black;
}